<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>LogiTrack Dashboard</title>
    <link rel="stylesheet" href="/css/dashboard.css">

</head>

<body>

    <div id="container">

        <aside id="sidebar">
            <header class="top">
                <h1 class="logo">El Lobo</h1>

                <nav aria-label="Menú principal">
                    <ul>
                        <li><a href="#">Bodegas</a></li>
                        <li><a href="#">Productos</a></li>
                        <li><a href="#">Entradas</a></li>
                        <li><a href="#">Salidas</a></li>
                        <li><a href="#">Transferencias</a></li>
                    </ul>
                </nav>
            </header>

            <footer class="bottom">
                <p class="user">Hola, <span id="username"></span></p>
                <p id="rol"></p>
                <button id="btn-cerrar-sesion" class="logout-btn">Salir</button>
            </footer>
        </aside>

        <main id="main">
            <header>
                <h2>Productos por bodega</h2>
            </header>
            <section class="bodegas">
                <section id="productos-bodega" aria-labelledby="productos-bodega-titulo">
                    <!-- las tarjetas se crean automáticamente -->
                </section>
                <section class="table-producto-bodega">
                    <table>
                        <thead>
                            <tr>
                                <th>Id Prod</th>
                                <th>Producto</th>
                                <th>Stock</th>
                            </tr>
                        </thead>
                        <tbody id="tbody-productos-bodega"></tbody>
                    </table>
                </section>
            </section>


        </main>

    </div>

    <script src="/js/dashboard.js"></script>

</body>

</html>